{% extends 'base.html.twig' %}

{% block title %}Artiste{% endblock %}

{% block body %}
    <section class="main">
        <div class="artiste_card show">
            <div class="artiste_img_container">
                <img src="{{ asset('img/Malcom Potter.jpeg') }}" alt="Malcom Potter">
            </div>

            <div class="artiste_text">
                <h1>Malcom Potter</h1>
                <p>
                   Lorsqu'un grand nom du jazz qui plus est excellent contrebassiste se propose de tester votre dernière création,
                    je ne peux vous décrire la confusion des sentiments générés... bonheur, joie mais aussi, un court instant de stress
                    et d'angoisse en attendant le verdict!
                </p>
                <p>
                    Malcom Potter, a donc fait un essai de la DOOBASS en décembre 2019.
                    Contrebassiste  et chanteur franco-britannique, Malcolm POTTER interprète
                    et revisite  les plus fameux standards du jazz et ses compositions tissent un lien  entre le swing et l’avenir.
                </p>
                <p>
                    La  presse et le public sont unanimes:
                    Sa voix transmet l’essence même du  jazz tout en s'inscrivant dans la modernité,
                    et le spectacle de ce  multi-instrumentiste charmeur de public et plein d’humour allie  profondeur et variété des émotions.
                </p>
                <p>
                    La musique de Malcolm  Potter s’inscrit dans la lignée actuelle du jazz (Michael Buble, Jamie  Cullum...)
                    tout en rendant un hommage permanent à son histoire. Sa  référence principale est le pianiste-chanteur Harry Connick Jr,
                    auquel  il est souvent comparé .
                </p>

            </div>

        </div>

        <div class="artiste_card show">
            <div class="artiste_img_container">
                <img src="{{ asset('img/Brice Berred.jpeg') }}" alt="Brice Berrerd">
            </div>

            <div class="artiste_text">
                <h1>Brice Berrerd</h1>
                <p>
                    Notre région recèle de nombreux talents et surprises...
                    comme celle que j'ai eu  en recevant un jour à l'atelier Brice Berrerd.
                    Il a lui aussi testé la DOOBASS....
                </p>
                <p>
                    Formé au CNR de Lyon, Brice Berrerd  joue de manière ponctuelle avec les pianistes Olivier Truchot, Bastien Brison,
                    Eric Teruel et Mario Stanchev.
                </p>
                <p>
                    Brice participe activement à d’autres projets de la scène française et
                    internationale dont Odysseus Fantasy et Koum Tara sous la direction de Karim Maurice.
                    Brice est invité dans de nombreux festivals de Jazz avec Alfio Origlio Trio, Vincent Périer Quartet,
                    Michael Cherret new quartet. Il est d’ailleurs bassiste du groupe de métal KING cover Queen.
                </p>
                    Contrebassiste talentueux, il contribue à la musicalité de Broadway Station grâce à un jeu expressif et nuancé,
                    tant dans son rôle d’accompagnateur que de soliste.
                </p>

            </div>

        </div>
    </section>


{% endblock %}