{% extends 'base.html.twig' %}

{% block title %}The Fisherman{% endblock %}

{% block body %}

    <section class="main">

        <div class="presentation-fisherman show">

            <div class="fisherman_img_container">
                <div class="fisherman_img">
                    <img src="{{ asset("img/fisherman.webp") }}" alt="Photo de Pascal Pecher (The Fisherman)">
                </div>
            </div>

            <div class="fisherman_text">
                <h1 class="titre">The Fisherman</h1>

                <p>Bonjour à tous! Je suis Pascal Pecheur… "The Fisherman" !</p>

                <p>J’ai commencé la guitare classique à 8 ans. Un premier prix de conservatoire en poche, je me suis produit régulièrement en récitals de musique classique pendant une bonne dizaine années.
                Parallèlement, j’ai enseigné au conservatoire de Perpignan et dans diverses écoles de musique.</p>

                <p>Mon amour inconditionnel avec le bois et ma curiosité très forte à vouloir comprendre comment fabriquer une guitare ou autre instrument à cordes m’a amené à créer mes propres instruments.
                D’excellents musiciens reconnaissant les qualités et le caractère innovant de mes instruments, ont passés commande pour des instruments sur mesure.</p>

                <p>Étant également contrebassiste, je me suis sérieusement penché sur les difficultés que rencontrent les contrebassistes dés lors qu’il faut sonoriser leurs instruments. J’ai donc inventé un instrument original dont l’électronique a été créée conjointement avec la lutherie:</p>

                <p>la DOOBASS est née!</p>
            </div>


        </div>

    </section>

{% endblock %}